@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
@inject SignInManager<IdentityUser> _signInManager 
@*wstrzykniecie zaleznosci, umozliwiajace zweryfikowanie czy dany uzytkownik jest zalogowany*@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/content/site.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Komis</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Opinion" asp-action="Index">Feedback</a></li>
                </ul>

                @if (_signInManager.IsSignedIn(User))
                {
                    <form asp-area="" asp-controller="Account" asp-action="Logout" class="form-inline my-2 my-lg-0" id="logoutForm" method="post">
                        <ul class="navbar-nav mr-auto" >
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                        </ul>
                    </form>
                }
                else
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a id="login-link" class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                        <li class="nav-item"><a id="register-link" class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
                    </ul>
                }

                </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="row">
            @RenderBody()
            @*RenderBody() renderuje w tym miejscu widok, ktory dziedziczy po schemacie _Layout (renderuje widok dziedziczacy) *@
        </div>
    </div>
</body>
</html>
