<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        @*RenderBody() renderuje w tym miejscu widok, ktory dziedziczy po schemacie _Layout (renderuje widok dziedziczacy) *@
    </div>
</body>
</html>
