body {
    background-image: url("../images/bg.jpg");
    padding-top: 30px;
    padding-bottom: 20px;
}

.body-content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
}

.img-small {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-top-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

#div-dark {
    background-color: #4a555b;
}

#div-radius {
    border-radius: 25px;
}

.label-dark-rounded {
    background-color: darkgray;
    border-radius: 25px;
}

.hidden-overflow {
    overflow: hidden;
}
