body {
    background-image: url("../images/bg.jpg");
    padding-top: 30px;
    padding-bottom: 20px;
}

.body-content{
    padding-left: 10px;
    padding-right: 10px;
}

.img-small {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
